<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1>VAIBHAV BHUTE</h1>
         <!-- <h3>Software Developer | Cloud Engineer(AWS)</h3>  -->
    </div>

    <div class="social-icons" style="right: 10px; text-align: Center;">
        <a href="https://www.linkedin.com/in/vaibhav-bhute30/" target="_blank" class="">
            <img src="..//../assets/linkedin.png" alt="linkedin" width="32" height="32" class="rounded-circle me-4">
        </a>

        <a href="https://www.instagram.com/vaibhavbhute30/" target="_blank" class="">
            <img src="..//../assets/instagram.png" alt="Instagram" width="32" height="32" class="rounded-circle me-4">
        </a>

        <a href="https://twitter.com/VaibhavBhute98" target="_blank" class="">
            <img src="..//../assets/twitter.png" alt="twitter" width="32" height="32" class="rounded-circle me-4">
        </a>

        <a href="https://github.com/PartianWizard301998" target="_blank" class="">
            <img src="..//../assets/github.png" alt="github" width="32" height="32" class="rounded-circle me-4">
        </a>
    </div>
</div> 