<nav class="navbar-expnad-md border-bottom mb-2" style="background-color: #D2E3C8;">
    <div class="container">
         <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home2" routerLinkActive="text-dark">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/protfolio" routerLinkActive="text-dark">Protfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary"routerLink="/professional-experience" routerLinkActive="text-dark">Internships</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link text-secondary"routerLink="/contact" routerLinkActive="text-dark">Contact</a>
            </li> -->
         </ul>
    </div>
</nav>
