<div class="container">
  <!-- <button class="btn btn-primary mb-5 shadow border" (click)="DownloadFile()">Resume PDF Resume</button> -->
    <div class="row">
        <h1>Internships</h1>
    <!-- <p> 
        
        The professional experience will always showcase the skill set and the ability of person.
        Please find few highlights of my career below.
    </p>
    <p>
        <em>
          Results-driven Performance Engineer with 2.7 years of hands-on experience in optimizing and enhancing the performance of complex software
          systems. Proven expertise in conducting thorough performance testing, identifying bottlenecks, and implementing strategic solutions to achieve
          optimal system efficiency. Proficient in utilizing industry-standard tools and methodologies to assess and improve application performance, ensuring
          seamless user experiences. Adept at collaborating with cross-functional teams to troubleshoot and resolve performance issues, and implementing
          best practices for scalability. Demonstrated ability to analyze performance metrics, generate comprehensive reports, and provide actionable
          recommendations for system optimization. Committed to staying current with emerging technologies and continuously enhancing skills to drive
          innovation in performance engineering.
          
        </em>
    </p> -->
    <div class="col-lg">
        <div class="card">
            <div class="card-header">
             <b>Internship Experience</b>
            </div>
<!-- 1st Item -->
            <!-- <div class="card-body">
               <h3 class="card-title">Tata Consultancy Services Limited</h3>
            <h5>System Engineer</h5>
             <h6><i>8-April-2023 - Present</i></h6>
                <P *ngIf="showdata">
                    •Extensive knowledge in STLC and SDLC, from requirements gathering to releasing in production.<br>
    •Hands-on experience with Performance Testing of web applications, conducting tests by both Manual
    scenarios in Percentage mode and through Goal-oriented scenarios.<br>
    •Expertise in using Performance testing tools like HP LoadRunner, Performace Center, and Enterprise Cloud
    LoadRunner.<br>
    •Extensive experience in baseline, benchmark, load, stress, and endurance testing for performance.<br>
    •Extensive experience in handling performance testing release activities like Requirement Gathering, Scope
    Discussion, Test Plan Planning, Test Execution, Test Analysis, Reporting, and result Presentation.<br>
    •Responsible for Managing test Data, and creating User Scenarios and test Scenarios.<br>
    •Good With Debugging, Identifying, Adjusting, and Fixing script errors by running it within Vugen.<br>
    •Extensive experience in using Monitoring tools like AppDynamics, PCF, Openshift Console, and Splunk.
    Good hands-on experience in Creating Virtually rich Splunk dashboards.<br>
    •Took ownership of PCF to open shift migration of Microservices, and Completed the config profiling for 100+
    services.<br>
    •Responsible for Completing the Performance Testing and Providing the Performance sign-off for production
    Release.<br>
    •Achieved the delivery of a bugless project during the critical testing releases, recognized by the client, Dev
    Managers, and Performance Engineering Teams.<br>
                </P>
              <div class="row">
                <div class="col-4">
                    <a class="btn btn-outline-success" (click)="showMore()">Show Data</a>
                    <a class="btn  btn-outline-danger mx-3" (click)="hideMore()">Hide Data</a>
                </div>
              </div>
            </div>
            <hr> -->

<!-- 2nd Iteam -->
            <div class="card-body">
                <h3 class="card-title">Angular Development Internship</h3>
             <h5>Angular Developer</h5>
              <h6><i>Jan 2022 - April 2022</i></h6>
                 <P *ngIf="showdata1">
                    •This is the training program where I have worked on the Angular technology and have a good
                    understanding of Developing Single page angular web applications and Angular CLI.<br>
                    •Familiar with the concepts of one-way data binding, two-way data binding, interpolation, fetching data from servers, routing, angular application workflow, components, directives, decorator’s modules, services, and angular forms.<br>
                    •Developed the Single page angular web application called Computer HUB which is the one-stop solution for all your computer-related queries.<br>
                 </P>
               <div class="row">
                 <div class="col-4">
                     <a class="btn btn-outline-success" (click)="showMore1()">Show Data</a>
                     <a class="btn  btn-outline-danger mx-3" (click)="hideMore1()">Hide Data</a>
                 </div>
               </div>
             </div>
             <hr>
             <!-- 3rd Iteam  -->

             <div class="card-body">
                <h3 class="card-title">RevMeUp – Android Development Internship</h3>
             <h5>Junior Android Developer</h5>
              <h6><i>May 2020 - Sept 2020</i></h6>
                 <P *ngIf="showdata2">
                    •Review me up aka RevMeUp is a social review platform aiming to make buyer journey fun and engaging,
                    which helps in establishing relationship between users and products to create best product usage
                    experience.<br>
                    •Worked in the team to develop the multiple modules like chat feature, rewards module, Spin Wheel
                    Technologies:Android Studio, SQLite Database, Firebase, Google Cloud Platform, Emulators<br>
                 </P>
               <div class="row">
                 <div class="col-4">
                     <a class="btn btn-outline-success" (click)="showMore2()">Show Data</a>
                     <a class="btn  btn-outline-danger mx-3" (click)="hideMore2()">Hide Data</a>
                 </div>
               </div>
             </div>
          </div>
    </div>
    </div>
</div>
